.searchDtl-cnt {
  padding: 20px;
}

.searchDtl-card-cnt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  position: relative;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 45px;
}

@media screen and (min-width: 850px) {
  .searchDtl-cnt {
    display: flex;
    justify-content: center;
  }
  .searchDtl-card-cnt {
    display: flex;
    width: 1050px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    position: relative;
  }
}
