.trending-cnt {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
}

.trendingCard-cnt {
  display: flex;
  width: 350px;
  overflow-y: hidden;
}

.trendingCard-cnt::-webkit-scrollbar {
  display: none;
}

.trending-cnt::-webkit-scrollbar {
  overflow: hidden;
}

.trendingBtn {
  display: flex;
  align-items: center;
  font-weight: 700;
  background-color: transparent;
  font-size: 25px;
  border: none;
  color: hsl(227, 89%, 15%);
  cursor: pointer;
}

@media screen and (min-width: 850px) {
  .trending-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 12px;
  }

  .trendingBtn-cnt {
    display: flex;
    justify-content: flex-start;
    width: 1050px;
  }

  .trendingCard-cnt {
    display: flex;
    width: 1050px;
    overflow-y: hidden;
  }

  .trendingBtn {
    color: aliceblue;
    cursor: pointer;
  }
}
