.trending-cnt {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
}

.trendingCard-cnt {
  display: flex;
  width: 360px;
  overflow-y: hidden;
}

.trending-cnt::-webkit-scrollbar {
  overflow: hidden;
}

.trendingBtn {
  display: flex;
  align-items: center;
  font-weight: 700;
  background-color: transparent;
  font-size: 25px;
  border: none;
  color: rgb(1, 38, 38);
}
