.trndDtl-cnt {
  padding: 20px;
}

.trndDtl-card-cnt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  position: relative;
}

@media screen and (min-width: 850px) {
  .trndDtl-cnt {
    display: flex;
    justify-content: center;
  }

  .trndDtl-card-cnt {
    display: flex;
    width: 1050px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    position: relative;
  }
}
