.nav-cnt {
  display: none;
}
/*mobile design*/
.nav-mobile-view {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}

.burgerBtn-cnt {
  display: flex;
  justify-content: flex-end;
}

.nav-mobileBtn-cnt {
  position: absolute;
  top: 90px;
  display: flex;
  flex-direction: column;
}
