.nav-cnt {
  display: none;
}
/*mobile design*/
.nav-mobile-view {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.burgerBtn-cnt {
  display: flex;
  justify-content: flex-end;
}

.nav-mobileBtn-cnt {
  position: absolute;
  top: 75px;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  z-index: 12;
  width: 320px;
  height: 520px;
  background-color: rgb(23, 47, 68);
  opacity: 1;
  animation: widthChange 0.3s linear;
}

.mobileBtn-cnt {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.mobileBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: aliceblue;
  font-size: 22px;
}

.burgerBtn {
  border: none;
  background-color: transparent;
  font-size: 35px;
}

.mobileBtn-logIn {
  cursor: pointer;
  color: aliceblue;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 132, 132);
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 50px;
}
.mobileView-logo-cnt {
  display: flex;
  font-size: 25px;
}

/*Animation*/
@keyframes widthChange {
  from {
    width: 20px;
  }
  to {
    width: 320px;
  }
}

@media screen and (min-width: 650px) {
  .nav-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 18px;
  }
  .nav-mobile-view {
    display: none;
  }
  .nav-logo-cnt {
    display: flex;
  }
  .nav-btns-cnt {
    display: flex;
    gap: 19px;
  }
  .nav-btns {
    border: none;
    background-color: transparent;
    color: aliceblue;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 5px solid rgb(164, 96, 233);
  }

  .nav-btns:hover {
    background-image: linear-gradient(
      to right,
      hsl(249, 75%, 63%),
      hsl(331, 83%, 45%)
    );
  }

  .nav-logo-cnt {
    font-size: 30px;
    font-weight: 900;
    color: aliceblue;
  }
  .nav-2ndBtns-cnt {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-2ndBtn {
    background-color: transparent;
    border: none;
    color: aliceblue;
  }
}
